.background_contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_container {
    display: flex;
    justify-content:center;
    color: white;
}

.form_ {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: auto;
}

.label_ {
    margin: 3%;
    padding: 5%;
    background: rgba(255, 255, 255, 0.2);
    width: 320px;
    height: auto;
    border-radius: 80px;
    border-style: none;
    font-size: auto;
    color: white;
}

.button_send {
    padding: 5%;
    margin: 5%;
    width: 340px;
    height: auto;
    background: linear-gradient(266deg, #55AED7 10%, #D44BD2 90%);
    border-radius: 80px;
    border-style: none;
    color: white;
    font-size: auto;
}
.Sculture_container_contact {
    padding: 0;
    margin-left: 6%;
    position: relative;
}

.rrss_list {
    margin: 0;
    padding: 0;
}

.container_contact {
    padding: 2%;
    padding-right: 5%;
}

@media (max-width: 600px) {
    .background_contact  {
        width: auto;
        height: 200px; 
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .sculture_contact {
        width: 120px;
        height: auto;
    }
    .Sculture_container_contact {
        display: grid;
        gap: 10px;
        position: absolute;
        top: -160px;
        right: 0;
    }

    .form_container {
        position: absolute; 
        top: 30%;
        left: 0; 
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center center !important;
        align-items: center;
    }

    .footer_container {
        width: 320px;
        height: auto;
    }

    .form_ {
        display: flex;
        justify-content: center;
        width: auto;
        padding: 0;
        margin: 0;
        position: relative;
    }
    
}
