.txt_thanks {
    display: grid;
    justify-content: center;
    color: var(--white);
    margin-top: 6%;
}

.thanks {
    margin-bottom: 0;
    font-size: 80px;
    font-weight: bold;
}

.message-thanks {
    margin-left: 10%;
}

@media (max-width: 600px) {
    .background_general  {
        width: auto;
        height: 50px; 
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .txt_thanks  {
        display: block !important;
        justify-content: center !important;
        align-items: center !important; 
        position: absolute;
        top: 30%;
        right: 18%;
        margin: 0;
        padding: 0;
    }
    .thanks {
        font-size: 60px;
    }
    .message-thanks {
        font-size: 12px;
    }
    
}