.background_black {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Sculture_container {
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sculture_image {
    width: 660px;
    height: auto;
}
.footer_container{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}
.button_contact {
    border-radius: 220px 120px 120px 0px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: linear-gradient(266deg, #55AED7 10%, #D44BD2 90%);
    backdrop-filter: blur(1px);
    width:160px;
    height: auto;
  }
  
.button_contact_text {
    padding: 10%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-decoration: none;
    color: white;
}
.rrss_list {
    display: flex;
    justify-content: flex-end; 
    gap: 1%;
    width: 100%;
    list-style-type: none;
  }

@media (max-width: 600px) {
    .background_black {
        width: auto;
        height: 220px; 
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
    .Sculture_container {
        position: fixed; 
        top: 30%;
        left: 0; 
        right: 0;
        z-index: 999;
    }
    .Sculture_image {
        width: 340px;
        height: auto;
        background-position: center center;
    }
    .footer_container {
        display: block;
        justify-content: center;
        position: absolute;
        bottom: 10px; 
        left: 0px;
    }
    .button_contact_text {
        width: 100px;
        height: auto;
        font-size: 16px;
        padding: 14%;
        margin-right: 6%;
      }
      .button_contact {
        display: flex;
        justify-content: center;
      }
  
    }
  